.introducao-bolsa {
}

.sujestoes {
}

.Wrapper {
    padding-top: 70px;
    gap: 50px;
    display: flex;
    flex-direction: row;
}

.esquerdaDiv {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    align-items: center;
    padding-top: 220px;
}

.direitaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}