.introducao-bolsa {
    display: flex;
    margin: 20px 900px 20px 50px;
}

.sujestoes {
    display: flex;
    margin: 20px 50px 20px 900px
}

.esquerda {
    padding: 20px 50px 20px 20px;
    margin-top: 200px;
}

.direita {
    padding: 20px 20px 400px 20px;
    margin-top: -300px;
}