.fundo {
    background-color: #A8A8A8;
}

.opcoes {
    background-color: #545454;
    margin: 40px 1400px 40px 50px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.walletButton {
    width: 144px;
    margin-right: 50px;
}
.ButtonDados {
    border-radius: 10px;
    border-color: none;
    width: 130px;
    padding: 4px;
    transition: transform 0.3s ease; 
}

.ButtonDados:hover {
    transform: scale(1.09); 
}