.descrição-lado-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descrição-lado-direito {
    width: 10px;
    height: 100px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}

.descricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.imagem {
    height: 200px;
    width: 300px;
}