.titulo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0px;
}

.texto-1 {
    margin: 0px 10px 100px 900px;
    z-index: 5;
}

.texto-2 {
    margin: 10px 900px 10px 10px;
    z-index: 5;
}

.imagem {
    background-image: url("../../public/images/imagemQuemNosSomos.jpg");
}