.imagemConteudo {
    background-image: url("../../public/images/imagemQuemNosSomos.jpg");
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;

}
.titulo {
    padding-left: 20px;
    padding-top: 30px;
}

.texto-1 {
}

.texto-2 {
}
